<main class="main">
  <form class="main_left" id="form">
    <table id="addTable">
      <tr>
        <td>
          <p>Numer Pokoju</p>
        </td>
        <td>
          <div style="display: flex; flex-direction: row;">
            <input id="nrPokoju" name="nrPokoju" type="number" [(ngModel)]="room.roomNumber"/>
            <div style="color: red;">*</div>
          </div>
        </td>
        <td>
          <span id="pokujError" style="text-align: left; color: red;"></span>
        </td>
      </tr>
      <tr>
        <td>
          <p>Hotel</p>
        </td>
        <td>
          <div style="display: flex; flex-direction: row;">
            <p>{{globalVar.nameUser}}</p>
          </div>
        </td>
        <td>
          <span id="hotelError" style="text-align: left; color: red;"></span>
        </td>
      </tr>
      <tr>
        <td>
          <p>Klasa Pokoju:</p>
        </td>
        <td>
          <span id="classPlace">
              <input id="class1" name="class" type="radio" value="B. Niska" [checked]="true" [(ngModel)]="room.clazz"> *
              <input id="class2" name="class" type="radio" value="Niska" [checked]="true" [(ngModel)]="room.clazz"> **
              <input id="class3" name="class" type="radio" value="Srednia" [checked]="true" [(ngModel)]="room.clazz"> ***
              <input id="class4" name="class" type="radio" value="Wysoka" [checked]="true" [(ngModel)]="room.clazz"> ****
              <input id="class5" name="class" type="radio" value="B. Wysoka" [checked]="true" [(ngModel)]="room.clazz"> *****
          </span>
          <div style="color: red; display: inline;">*</div>
        </td>
        <td>
          <span id="classError" style="text-align: left; color: red;"></span>
        </td>
      </tr>
      <tr>
        <td>
          <p>Piętro:</p>
        </td>
        <td>
          <div style="display: flex; flex-direction: row;">
            <input id="pietro" name="hotel" type="number" [(ngModel)]="room.floor"/>
            <div style="color: red;">*</div>
          </div>
        </td>
        <td>
          <span id="pietroError" style="text-align: left; color: red;"></span>
        </td>
      </tr>
      <tr>
        <td>
          <p>Dla palących:</p>
        </td>
        <td>
          <span id="smoke">
              <input id="smoke1" name="smoke" type="radio" value="Y" [checked]="true" [(ngModel)]="room.isSmoker"> Tak
              <input id="smoke2" name="smoke" type="radio" value="N" [checked]="true" [(ngModel)]="room.isSmoker"> Nie
          </span>
          <div style="color: red; display: inline;">*</div>
        </td>
        <td>
          <span id="smokeError" style="text-align: left; color: red;"></span>
        </td>
      </tr>
      <tr>
        <td>
          <p>Dla niepełnosprawnych:</p>
        </td>
        <td>
          <span id="disable">
              <input id="disable1" name="disable" type="radio" value="Y" [checked]="true" [(ngModel)]="room.forDisabled"> Tak
              <input id="disable2" name="disable" type="radio" value="N" [checked]="true" [(ngModel)]="room.forDisabled"> Nie
          </span>
          <div style="color: red; display: inline;">*</div>
        </td>
        <td>
          <span id="disableError" style="text-align: left; color: red;"></span>
        </td>
      </tr>
      <tr>
        <td>
          <p>Cena:</p>
        </td>
        <td>
          <div style="display: flex; flex-direction: row;">
            <input id="cena" name="cena" type="number" [(ngModel)]="room.price"/>
            <div style="color: red;">*</div>
          </div>
        </td>
        <td>
          <span id="cenaError" style="text-align: left; color: red;"></span>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <span id="sumErrorAdd"></span>
        </td>
      </tr>
    </table>
  </form>
  <div class="picture">
    <h3 style="margin-bottom: 7px;">
      Dodaj zdjęcia
    </h3>
    <input id="sciezka_jpg" name="sciezka" type="text" placeholder="NazwaPliku.jpg" [(ngModel)]="photo.name">
<!--    <div style=" display: flex; flex-direction: row;">-->
<!--      <button class="button" type="button" style="margin-right: 3px;">Wybierz zdjęcie</button>-->
<!--      <button class="button" type="button" style="margin-right: 3px;">Dodaj</button>-->
<!--    </div>-->
<!--    <table id="table" style="margin-top: 20px;">-->
<!--      <tr>-->
<!--        <th>Zdjęcia</th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>-->
<!--          zdjecie_1.jpg-->
<!--        </td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>-->
<!--          zdjecie_2.jpg-->
<!--        </td>-->
<!--      </tr>-->
<!--    </table>-->
  </div>
  <div class="bottom">
    <h3 style="margin-bottom: 7px;">
      Opis
    </h3>
    <textarea id="opis" name="opis" rows="10" cols="30" [(ngModel)]="room.description">Tutaj wprowadź opis</textarea>
    <div>
      <button class="button" type="button" style="margin-right: 3px;" (click)="addRoomie()">Zapisz</button>
<!--      <button class="button" type="button" style="margin-right: 3px;" onclick="window.location='preview.html';">Podgląd</button>-->
    </div>
  </div>
</main>
