<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:oracle:thin:@db-oracle.pjwstk.edu.pl:1521:baza</property>
    <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
    <mapping class="tin.mp4.projekt.model.City"/>
      <mapping class="tin.mp4.projekt.model.Guest"/>
      <mapping class="tin.mp4.projekt.model.Hotel"/>
      <mapping class="tin.mp4.projekt.model.Ordered"/>
      <mapping class="tin.mp4.projekt.model.Passwords"/>
      <mapping class="tin.mp4.projekt.model.Photo"/>
      <mapping class="tin.mp4.projekt.model.Reservation"/>
      <mapping class="tin.mp4.projekt.model.Room"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->

  </session-factory>

</hibernate-configuration>
