.main_center{
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.main_right{
  grid-column: 3;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
}

.main_left{
  grid-column: 1;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  margin: 1%;
}

.search_hotel {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  margin-left: 2%;
  max-width: 170px;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 16px solid rgb(0, 0, 0);
  border-bottom: 8px solid transparent;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 16px solid #555;
  border-bottom: 8px solid transparent;
}

#check{
  width: 20px;
}

td, th {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
